* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#003300;
}

#score-and-title {
    background-color: lightgreen;
    width: 90vmin;
    height: 10vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#snake-title, #snake-score {
    font-size: 24px;
    padding: 0px 24px;
}
#snake-title {
    color:#6600ff;
    font-size: 40px;
}
#snake-score span {
    font-weight: bolder;
}
#game-board {
    background-color: #009900;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);

}
.snake {
    background-color: rgb(153, 212, 241);
    border: .25vmin solid black;
}
.food {
    background-color:#e60000;
    border: .25vmin solid black;
}